:root {
  --white: #ffffff;
  --green: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
  font-family: "Space Mono", monospace;
  background: var(--white);
}

main {
  max-width: 1440px;
  width: 100vw;
  margin: 0 auto;
  padding: 90px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1 {
  padding: 25px 50px;
  font-size: 23px;
  font-weight: 700;
}

/* #image {
  width: 540px;
  flex-grow: 1;
} */

img {
  width: 100%;
}

.main-text {
  padding: 0 90px;
}

.main-text h2 {
  margin-bottom: 35px;
  font-size: 64px;
  font-weight: 700;
}

.main-text p {
  margin-right: 300px;
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 400;
}

.main-text button {
  cursor: pointer;
  color: var(--white);
  background-color: var(--green);
  padding: 20px 30px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1040px) {
  main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  header h1 {
    padding: 25px 25px 0 25px;
  }

  img {
    width: 100%;
    margin-bottom: 50px;
  }

  .main-text {
    padding: 0 30px;
  }

  .main-text h2 {
    margin-bottom: 35px;
    font-size: 40px;
  }

  .main-text p {
    margin-right: 0px;
    margin-bottom: 50px;
    font-size: 18px;
  }
}
